.errorContainer {
  position: relative;
  background-color: red;
  opacity: 0.9;
  color: white;
  size: 25px;
}

.closeError {
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: 10px;
  background: red;
  border: solid white 1px;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 5px;
}
